/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

:host,
:root {
  --cs-space-none: 0;
  --cs-space-xxs: 0.25rem;
  --cs-space-xs: 0.5rem;
  --cs-space-s: 0.75rem;
  --cs-space-m: 1rem;
  --cs-space-l: 1.25rem;
  --cs-space-xl: 1.5rem;
  --cs-space-2xl: 2rem;
  --cs-space-3xl: 2.5rem;
  --cs-type-sans-serif-4xl: 600 2.75rem/3.25rem -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-3xl: 600 2.25rem/3rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-2xl: 600 1.75rem/2.5rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-xl: 600 1.25rem/2rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-l: 400 1.125rem/2rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-l-semibold: 600 1.125rem/2rem -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-l-tight-semibold: 600 1.125rem/1.5rem -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --cs-type-sans-serif-m: 400 0.875rem/1.5rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-m-semibold: 600 0.875rem/1.5rem -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-m-tight-semibold: 600 0.875rem/1.25rem -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --cs-type-sans-serif-m-tight: 400 0.875rem/1.25rem -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-m-underline: 400 0.875rem/1.5rem -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --cs-type-sans-serif-m-tight-underline: 400 0.875rem/1.25rem -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --cs-type-sans-serif-s: 400 0.813rem/1.375rem -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-s-tight: 400 0.813rem/1.25rem -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-s-semibold: 600 0.813rem/1.375rem -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --cs-type-sans-serif-xs: 400 0.688rem/1.25rem -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-xs-semibold: 600 0.688rem/1.25rem -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --cs-type-sans-serif-xs-tight: 400 0.688rem/1rem -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-type-sans-serif-xs-tight-underline: 400 0.688rem/1rem -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --cs-type-mono-m: 400 0.875rem/1.5rem Consolas, Menlo, Monaco, Courier, monospace;
  --cs-type-mono-m-tight: 400 0.875rem/1.25rem Consolas, Menlo, Monaco, Courier, monospace;
  --cs-type-mono-s: 400 0.813rem/1.375rem Consolas, Menlo, Monaco, Courier, monospace;
  --cs-type-mono-s-tight: 400 0.813rem/1.25rem Consolas, Menlo, Monaco, Courier, monospace;
  --cs-font-size-xxs: 0.563rem;
  --cs-font-size-xs: 0.688rem;
  --cs-font-size-s: 0.813rem;
  --cs-font-size-m: 0.875rem;
  --cs-font-size-l: 1.125rem;
  --cs-font-size-xl: 1.25rem;
  --cs-font-size-2xl: 1.75rem;
  --cs-font-size-3xl: 2.25rem;
  --cs-font-size-4xl: 2.75rem;
  --cs-font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cs-font-family-monospace: Consolas, Menlo, Monaco, Courier, monospace;
  --cs-font-weight-regular: 400;
  --cs-font-weight-semibold: 600;
  --cs-line-height-tight: 1.25;
  --cs-line-height-tighter: 1;
  --cs-line-height-normal: 1.5;
  --cs-line-height-loose: 1.75;
  --cs-line-height-looser: 2;
  --cs-text-decoration-underline: underline;
  --cs-text-decoration-none: none;
  --cs-text-decoration-line-through: line-through;
  --cs-letter-spacing-none: 0;
  --cs-letter-spacing-tighten: -0.01em;
  --cs-letter-spacing-tight: -0.02em;
  --cs-letter-spacing-tighter: -0.03em;
  --cs-letter-spacing-tightest: -0.05em;
  --cs-border-radius-none: 0;
  --cs-border-radius-s: 2px;
  --cs-border-radius-m: 0.25rem;
  --cs-border-radius-l: 0.5rem;
  --cs-border-radius-xl: 1rem;
  --cs-border-radius-circle: 50%;
  --cs-transition-duration-x-slow: 1s;
  --cs-transition-duration-slow: 0.5s;
  --cs-transition-duration-medium: 0.25s;
  --cs-transition-duration-fast: 0.15s;
  --cs-transition-duration-x-fast: 50ms;
  --cs-gray-100: #fafafa;
  --cs-gray-200: #eeeeee;
  --cs-gray-300: #ededed;
  --cs-gray-400: #ebebeb;
  --cs-gray-500: #e8e8e8;
  --cs-gray-600: #e5e5e5;
  --cs-gray-700: #e0e0e0;
  --cs-gray-800: #d9d9d9;
  --cs-gray-900: #d3d3d3;
  --cs-gray-1000: #adadad;
  --cs-gray-1100: #949494;
  --cs-gray-1200: #767676;
  --cs-gray-1300: #3d3d3d;
  --cs-gray-1400: #242424;
  --cs-gray-1500: #202020;
  --cs-input-height: 2rem;
  --cs-checkbox-height: 1rem;
}

:host,
:root,
.theme-light {
  color-scheme: light;
  --cs-table-color-foreground: #3d3d3d;
  --cs-table-color-background: #ffffff;
  --cs-table-color-border: #d9d9d9;
  --cs-table-header-color-foreground: #ffffff;
  --cs-table-header-color-background: #ededed;
  --cs-table-header-column-seperator-color-background: #3d3d3d;
  --cs-table-row-color-background-odd: #f5f5f5;
  --cs-table-row-color-background-selected: #e3edef;
  --cs-table-row-color-border: transparent;
  --cs-table-cell-color-foreground: #3d3d3d;
  --cs-checkbox-color-background: #e0e0e0;
  --cs-checkbox-color-foreground-checked: #ffffff;
  --cs-checkbox-color-background-checked: #036678;
  --cs-checkbox-border: 1px solid #767676;
  --cs-checkbox-outline-focus: #039eba 2px solid;
  --cs-checkbox-outline-offset-focus: 1px;
  --cs-checkbox-outline-invalid: #e9181f 2px solid;
  --cs-input-color-border: #d9d9d9;
  --cs-input-color-border-focus: #039eba;
  --cs-input-color-border-invalid: #e9181f;
  --cs-input-color-background: #0000000d;
  --cs-input-color-foreground: #3d3d3d;
  --cs-input-color-foreground-disabled: #949494;
  --cs-input-color-placeholder: #a1a1aa;
  --cs-input-color-label: #767676;
  --cs-input-shadow: inset 0 0 0 1px #d9d9d9, inset 0 2px 4px 0 #00000014;
  --cs-input-shadow-focus: inset 0 0 0 2px #039eba, inset 0 2px 4px 0 #00000014;
  --cs-input-shadow-invalid: inset 0 0 0 2px #e9181f, inset 0 2px 4px 0 #00000014;
  --cs-input-shadow-invalid-focus: inset 0 0 0 2px #e9181f, 0 0 0 2px #e9181f63;
  --cs-tab-color-underline: #039eba;
  --cs-button-color-background-primary: #036678;
  --cs-button-color-background-primary-hover: #168093;
  --cs-button-color-background-primary-active: #025564;
  --cs-button-color-foreground-primary: #ffffff;
  --cs-button-color-background-secondary: #e0e0e0;
  --cs-button-color-background-secondary-hover: #e8e8e8;
  --cs-button-color-background-secondary-active: #adadad;
  --cs-button-color-foreground-secondary: #202020;
  --cs-button-color-background-danger: #ffffff;
  --cs-button-color-foreground-danger: #e8121a;
  --cs-button-color-background-danger-hover: #e8121a;
  --cs-button-color-foreground-danger-hover: #ffffff;
  --cs-button-color-background-danger-active: #d01017;
  --cs-button-color-foreground-danger-active: #ffffff;
  --cs-button-color-foreground-link: #036678;
  --cs-button-color-foreground-link-hover: #168093;
  --cs-button-color-foreground-link-active: #025564;
  --cs-button-border: 0 solid transparent;
  --cs-button-outline-focus: #ffffff 2px solid;
  --cs-button-outline-offset-focus: -4px;
  --cs-button-color-foreground-disabled: #949494;
  --cs-button-background-image-focus: linear-gradient(to bottom, #039eba 2px, transparent 0),
    linear-gradient(to left, #039eba 2px, transparent 0),
    linear-gradient(to right, #039eba 2px, transparent 0),
    linear-gradient(to top, #039eba 2px, transparent 0);
  --cs-button-background-image-danger-focus: linear-gradient(to bottom, #e8121a 2px, transparent 0),
    linear-gradient(to left, #e8121a 2px, transparent 0),
    linear-gradient(to right, #e8121a 2px, transparent 0),
    linear-gradient(to top, #e8121a 2px, transparent 0);
  --cs-popover-color-background: #ffffff;
  --cs-menu-item-color-foreground: #3d3d3d;
  --cs-menu-label-color-foreground: #767676;
  --cs-details-border: 1px solid #d9d9d9;
  --cs-details-summary-color-background: #ffffff;
  --cs-details-summary-color-foreground: #3d3d3d;
  --cs-details-content-color-background: #ffffff;
  --cs-details-content-color-foreground: #767676;
  --cs-tag-color-background-neutral: #e0e0e0;
  --cs-tag-color-foreground-neutral: #3d3d3d;
  --cs-shadow-inner-m: inset 0 2px 4px 0 #00000014;
  --cs-shadow-inner-l: inset 0 2px 5px 0 #00000017;
  --cs-shadow-drop-s: 0 0 1px 0 #00000012, 0 1px 2px 0 #00000026;
  --cs-shadow-drop-m: 0 0 4px 0 #0000000f, 0 3px 6px 0 #0000001a;
  --cs-shadow-drop-l: 0 10px 15px 0 #00000014, 0 0 3px 0 #00000012;
  --cs-shadow-drop-xl: 0 20px 25px 0 #00000014, 0 0 4px 0 #00000014;
  --cs-shadow-drop-2xl: 0 0 7px 0 #00000014, 0 25px 50px 0 #00000040;
  --cs-overlay-dark: #00000008;
  --cs-overlay-darker: #0000000d;
  --cs-overlay-darkest: #00000026;
  --cs-color-background-primary: #036678;
  --cs-color-background-secondary: #e0e0e0;
  --cs-color-foreground-primary: #ffffff;
  --cs-color-foreground-secondary: #202020;
}

:host,
.theme-dark {
  color-scheme: dark;
  --cs-table-color-foreground: #e2e2e4;
  --cs-table-color-background: #2d2c31;
  --cs-table-color-border: #09090c;
  --cs-table-header-color-foreground: #e2e2e4;
  --cs-table-header-color-background: #17161a;
  --cs-table-header-column-seperator-color-background: #e2e2e4;
  --cs-table-row-color-background-odd: #27262c;
  --cs-table-row-color-background-selected: #414154;
  --cs-table-row-color-border: transparent;
  --cs-table-cell-color-foreground: #e2e2e4;
  --cs-checkbox-color-background: #4e4f5a;
  --cs-checkbox-color-foreground-checked: #1e1d20;
  --cs-checkbox-color-background-checked: #c8dcfe;
  --cs-checkbox-border: 1px solid #a6acb0;
  --cs-checkbox-outline-focus: #6688ff 2px solid;
  --cs-checkbox-outline-offset-focus: 1px;
  --cs-radio-color-background: #4e4f5a;
  --cs-radio-color-foreground: #1e1d20;
  --cs-radio-color-checked: #c8dcfe;
  --cs-radio-color-unchecked: #a6acb0;
  --cs-radio-border: 1px solid #a6acb0;
  --cs-input-color-border: #09090c;
  --cs-input-color-border-focus: #6688ff;
  --cs-input-color-border-invalid: #fa4147;
  --cs-input-color-background: #00000040;
  --cs-input-color-foreground: #e2e2e4;
  --cs-input-color-foreground-disabled: #77798f;
  --cs-input-color-placeholder: #6c6c74;
  --cs-input-color-label: #a6acb0;
  --cs-input-shadow: inset 0 0 0 1px #09090c, inset 0 1px 2px 0 #00000040;
  --cs-input-shadow-focus: inset 0 0 0 2px #6688ff, inset 0 1px 2px 0 #00000040;
  --cs-input-shadow-invalid: inset 0 0 0 2px #fa4147, inset 0 1px 2px 0 #00000040;
  --cs-tab-color-underline: #6688ff;
  --cs-button-color-background-primary: #c8dcfe;
  --cs-button-color-background-primary-hover: #e1ecfe;
  --cs-button-color-background-primary-active: #7d9bff;
  --cs-button-color-foreground-primary: #27262c;
  --cs-button-color-background-secondary: #4e4f5a;
  --cs-button-color-background-secondary-hover: #63646e;
  --cs-button-color-background-secondary-active: #3d3d48;
  --cs-button-color-foreground-secondary: #fafafa;
  --cs-button-border: 0 solid transparent;
  --cs-button-outline-focus: #27262c 2px solid;
  --cs-button-outline-offset-focus: -4px;
  --cs-button-color-background-danger: #1e1d20;
  --cs-button-color-foreground-danger: #e8121a;
  --cs-button-color-background-danger-hover: #f9585d;
  --cs-button-color-foreground-danger-hover: #ffffff;
  --cs-button-color-background-danger-active: #d01017;
  --cs-button-color-foreground-danger-active: #ffffff;
  --cs-button-color-foreground-link: #c8dcfe;
  --cs-button-color-foreground-link-hover: #e1ecfe;
  --cs-button-color-foreground-link-active: #7d9bff;
  --cs-button-color-foreground-disabled: #77798f;
  --cs-button-background-image-focus: linear-gradient(to bottom, #6688ff 2px, transparent 0),
    linear-gradient(to left, #6688ff 2px, transparent 0),
    linear-gradient(to right, #6688ff 2px, transparent 0),
    linear-gradient(to top, #6688ff 2px, transparent 0);
  --cs-button-background-image-danger-focus: linear-gradient(to bottom, #f9585d 2px, transparent 0),
    linear-gradient(to left, #f9585d 2px, transparent 0),
    linear-gradient(to right, #f9585d 2px, transparent 0),
    linear-gradient(to top, #f9585d 2px, transparent 0);
  --cs-popover-color-background: #3d3c40;
  --cs-menu-item-color-foreground: #e2e2e4;
  --cs-menu-label-color-foreground: #a6acb0;
  --cs-details-border: 1px solid #09090c;
  --cs-details-summary-color-background: #343337;
  --cs-details-summary-color-foreground: #e2e2e4;
  --cs-details-content-color-background: #343337;
  --cs-details-content-color-foreground: #e2e2e4;
  --cs-tag-color-background-neutral: #4e4f5a;
  --cs-tag-color-foreground-neutral: #e2e2e4;
  --cs-shadow-inner-m: inset 0 1px 2px 0 #00000040;
  --cs-shadow-inner-l: inset 0 2px 4px 0 #0000005c;
  --cs-shadow-drop-s: 0 1px 2px 0 #00000075, 0 1px 3px 0 #0000001a;
  --cs-shadow-drop-m: 0 2px 4px 0 #00000054, 0 4px 6px 0 #0000001a;
  --cs-shadow-drop-l: 0 10px 15px 0 #0000004d, 0 4px 6px 0 #00000026;
  --cs-shadow-drop-xl: 0 20px 25px 0 #0000004d, 0 10px 10px 0 #0000001f;
  --cs-shadow-drop-2xl: 0 25px 50px 0 #0000009e;
  --cs-overlay-dark: #00000021;
  --cs-overlay-darker: #00000040;
  --cs-overlay-darkest: #00000099;
  --cs-color-background-primary: #c8dcfe;
  --cs-color-background-secondary: #4e4f5a;
  --cs-color-foreground-primary: #27262c;
  --cs-color-foreground-secondary: #fafafa;
}

:root,
:host {
  --sl-spacing-small: var(--cs-space-xs);
  --sl-shadow-large: var(--cs-shadow-drop-l);
  --sl-panel-background-color: var(--cs-popover-color-background);
  --sl-z-index-drawer: 700;
  --sl-z-index-dialog: 800;
  --sl-z-index-dropdown: 900;
  --sl-z-index-toast: 950;
  --sl-z-index-tooltip: 1000;
  --sl-input-height-medium: var(--cs-input-height);
  --sl-input-border-radius-medium: var(--cs-border-radius-s);
  --sl-input-border-width: 0;
  --sl-input-border-color: transparent;
  --sl-input-border-color-hover: transparent;
  --sl-input-border-color-focus: transparent;
  --sl-input-border-color-disabled: transparent;
  --sl-input-color: var(--cs-input-color-foreground);
  --sl-input-color-hover: var(--cs-input-color-foreground);
  --sl-input-color-focus: var(--cs-input-color-foreground);
  --sl-input-color-disabled: var(--cs-input-color-foreground-disabled);
  --sl-input-help-text-color: var(--cs-input-color-label);
  --sl-input-label-color: var(--cs-input-color-label);
  --sl-input-placeholder-color: var(--cs-input-color-placeholder);
  --sl-input-placeholder-color-disabled: var(--cs-input-color-placeholder);
  --sl-input-icon-color: var(--cs-input-color-label);
  --sl-input-icon-color-hover: var(--cs-input-color-label);
  --sl-input-icon-color-focus: var(--cs-input-color-label);
  --sl-input-spacing-medium: var(--cs-space-s);
  --sl-input-background-color: var(--cs-overlay-darker);
  --sl-input-background-color-hover: var(--cs-overlay-darker);
  --sl-input-background-color-focus: var(--cs-overlay-darker);
  --sl-input-background-color-disabled: var(--cs-overlay-darker);
}

[disabled] {
  pointer-events: none;
}

sl-button::part(base) {
  border: var(--cs-button-border);
  box-shadow: var(--cs-shadow-drop-s);
  padding-inline: var(--cs-space-xs);
}

sl-button::part(base):focus-visible {
  background-image: var(--cs-button-background-image-focus);
  background-color: transparent;
  outline-offset: var(--cs-button-outline-offset-focus);
  outline: var(--cs-button-outline-focus);
}

sl-button::part(label) {
  font: var(--cs-type-sans-serif-s-tight-semibold);
  line-height: var(--cs-input-height);
  padding-inline: var(--cs-space-xs);
}

sl-button[variant][disabled]::part(base) {
  background-color: var(--cs-overlay-dark);
  box-shadow: none;
  color: var(--cs-button-color-foreground-disabled);
  opacity: 1;
  text-decoration: none;
}

sl-button[variant='neutral']::part(base) {
  box-shadow: none;
}

sl-button[variant='primary']::part(base) {
  background-color: var(--cs-button-color-background-primary);
  color: var(--cs-button-color-foreground-primary);
}

sl-button[variant='primary']::part(base):hover,
sl-button[variant='primary']::part(base):focus-visible {
  background-color: var(--cs-button-color-background-primary-hover);
}

sl-button[variant='primary']::part(base):active {
  background-color: var(--cs-button-color-background-primary-active);
}

sl-button[variant='default']::part(base) {
  background-color: var(--cs-button-color-background-secondary);
  color: var(--cs-button-color-foreground-secondary);
}

sl-button[variant='default']::part(base):hover,
sl-button[variant='default']::part(base):focus-visible {
  background-color: var(--cs-button-color-background-secondary-hover);
}

sl-button[variant='default']::part(base):active {
  background-color: var(--cs-button-color-background-secondary-active);
}

sl-button[variant='danger']::part(base) {
  background-color: var(--cs-button-color-background-danger);
  color: var(--cs-button-color-foreground-danger);
}

sl-button[variant='danger']::part(base):hover {
  background-color: var(--cs-button-color-background-danger-hover);
  color: var(--cs-button-color-foreground-danger-hover);
}

sl-button[variant='danger']::part(base):focus-visible {
  background-color: var(--cs-button-color-background-danger-hover);
  background-image: var(--cs-button-background-image-danger-focus);
  color: var(--cs-button-color-foreground-danger-hover);
}

sl-button[variant='danger']::part(base):active {
  background-color: var(--cs-button-color-background-danger-active);
  background-image: none;
  color: var(--cs-button-color-foreground-danger-active);
}

sl-button[variant='text']::part(base) {
  box-shadow: none;
  color: var(--cs-button-color-foreground-link);
  text-decoration: underline;
}

sl-button[variant='text']::part(base):hover,
sl-button[variant='text']::part(base):focus-visible {
  color: var(--cs-button-color-foreground-link-hover);
}

sl-button[variant='text']::part(base):active {
  color: var(--cs-button-color-foreground-link-active);
}

sl-button-group::part(base) {
  box-shadow: var(--cs-shadow-drop-s);
  border-radius: var(--cs-border-radius-s);
  gap: 1px;
}

sl-button-group sl-button {
  flex: 1;
}

sl-button-group sl-button::part(base) {
  border-radius: 0;
  box-shadow: none;
}

sl-button-group sl-button::part(base)::after {
  border-left-width: 0;
}

sl-button-group sl-button:first-child::part(base) {
  border-start-start-radius: var(--cs-border-radius-s);
  border-end-start-radius: var(--cs-border-radius-s);
}

sl-button-group sl-button:last-child::part(base) {
  border-start-end-radius: var(--cs-border-radius-s);
  border-end-end-radius: var(--cs-border-radius-s);
}

sl-menu-label {
  color: var(--cs-menu-label-color-foreground);
  font: var(--cs-type-sans-serif-s);
  padding: var(--cs-space-xs) var(--cs-space-xl);
}

sl-option,
sl-menu-item {
  color: var(--cs-menu-item-color-foreground);
  font: var(--cs-type-sans-serif-s-tight);
  padding: var(--cs-space-xs) var(--cs-space-xxs);
}

sl-option:hover,
sl-menu-item:hover {
  background-color: var(--cs-overlay-dark);
}

sl-option:focus-visible,
sl-menu-item:focus-visible {
  background-image: var(--cs-button-background-image-focus);
}

sl-option [slot='prefix'],
sl-menu-item [slot='prefix'] {
  margin-inline-end: var(--cs-space-xs);
}

sl-checkbox {
  --sl-focus-ring: var(--cs-checkbox-outline-focus);
  --sl-focus-ring-offset: var(--cs-checkbox-outline-offset-focus);
}

sl-checkbox::part(base) {
  display: inline-flex;
  align-items: center;
}

sl-checkbox::part(control) {
  width: 1rem;
  height: 1rem;
  border: var(--cs-checkbox-border);
  background-color: var(--cs-checkbox-color-background);
  border-radius: var(--cs-border-radius-s);
  padding: 1px;
}

sl-checkbox::part(control--checked) {
  background-color: var(--cs-checkbox-color-background-checked);
  border-color: transparent;
  color: var(--cs-checkbox-color-foreground-checked);
}

sl-checkbox[data-user-invalid] {
  --sl-focus-ring: 2px solid #e9181f63;
  --sl-focus-ring-offset: 0;
}

sl-checkbox[data-user-invalid]::part(control) {
  border: var(--cs-checkbox-outline-invalid);
}

sl-radio::part(base) {
  --sl-focus-ring: var(--cs-checkbox-outline-focus);
  --sl-focus-ring-offset: var(--cs-checkbox-outline-offset-focus);
  display: inline-flex;
  align-items: center;
}

sl-radio::part(control) {
  width: 1rem;
  height: 1rem;
  border: var(--cs-checkbox-border);
  background-color: var(--cs-checkbox-color-background);
  border-radius: var(--cs-border-radius-circle);
}

sl-radio::part(control--checked) {
  background-color: var(--cs-checkbox-color-background-checked);
  border-color: transparent;
  color: var(--cs-checkbox-color-foreground-checked);
}

sl-radio-group::part(form-control) {
  display: flex;
  flex-direction: column;
  gap: var(--cs-space-s);
}

sl-radio-group::part(form-control-input) {
  display: flex;
  flex-direction: column;
  gap: var(--cs-space-xs);
}

sl-input::part(input),
sl-textarea::part(input) {
  padding-inline: var(--cs-space-xs);
}

sl-input [slot='prefix'],
sl-textarea [slot='prefix'] {
  margin-inline-start: var(--cs-space-s);
}

sl-input [slot='suffix'],
sl-textarea [slot='suffix'] {
  margin-inline-end: var(--cs-space-s);
}

sl-input::part(base),
sl-select::part(base),
sl-textarea::part(base),
sl-input::part(combobox),
sl-select::part(combobox),
sl-textarea::part(combobox) {
  box-shadow: var(--cs-input-shadow);
}

sl-input::part(input),
sl-select::part(input),
sl-textarea::part(input) {
  font: var(--cs-type-sans-serif-s);
}

sl-input::part(base):focus-within,
sl-select::part(base):focus-within,
sl-textarea::part(base):focus-within,
sl-input::part(combobox):focus-within,
sl-select::part(combobox):focus-within,
sl-textarea::part(combobox):focus-within {
  box-shadow: var(--cs-input-shadow-focus);
}

sl-input[data-user-invalid]::part(base),
sl-select[data-user-invalid]::part(base),
sl-textarea[data-user-invalid]::part(base),
sl-input[data-user-invalid]::part(combobox),
sl-select[data-user-invalid]::part(combobox),
sl-textarea[data-user-invalid]::part(combobox) {
  box-shadow: var(--cs-input-shadow-invalid);
}

sl-input[data-user-invalid]::part(base):focus-within,
sl-select[data-user-invalid]::part(base):focus-within,
sl-textarea[data-user-invalid]::part(base):focus-within,
sl-input[data-user-invalid]::part(combobox):focus-within,
sl-select[data-user-invalid]::part(combobox):focus-within,
sl-textarea[data-user-invalid]::part(combobox):focus-within {
  box-shadow: var(--cs-input-shadow-invalid-focus);
}

sl-input[disabled]::part(base),
sl-select[disabled]::part(base),
sl-textarea[disabled]::part(base),
sl-input[disabled]::part(combobox),
sl-select[disabled]::part(combobox),
sl-textarea[disabled]::part(combobox) {
  box-shadow: none;
  opacity: 1;
}

::part(form-control-help-text) {
  font: var(--cs-type-sans-serif-xs);
}

::part(form-control-label) {
  font: var(--cs-type-sans-serif-s);
}

sl-details::part(base) {
  border-bottom: var(--cs-details-border);
  background-color: var(--cs-details-summary-color-background);
}

sl-details::part(header) {
  padding: var(--cs-space-m);
}

sl-details::part(header):focus-visible {
  box-shadow: var(--cs-input-shadow-focus);
}

sl-details::part(summary) {
  color: var(--cs-details-summary-color-foreground);
  font: var(--cs-type-sans-serif-l-tight-semibold);
}

sl-details::part(content) {
  background-color: var(--cs-details-content-color-background);
  color: var(--cs-details-content-color-foreground);
  font: var(--cs-type-sans-serif-s);
  padding-block-start: var(--cs-space-s);
  padding-block-end: var(--cs-space-m);
  padding-inline: var(--cs-space-m);
}

/*

Notes:
See selector `sl-option` in menu.css for styling of option.
Background of dropdown is set by global css var `--sl-panel-background-color` in global.css

*/
sl-select::part(combobox) {
  /* See selector `::part(combobox)` in input.css for styling of button states. */
  padding-inline: var(--cs-space-xs);
}

sl-select[multiple]::part(combobox) {
  /* See selector `::part(combobox)` in input.css for styling of combobox states. */
  padding-inline-start: var(--cs-space-xxs);
}

sl-select [slot='prefix'] {
  /*
      Need to explicitly set this color.
      I think this should use --sl-input-icon-color
      rather than inheriting the placeholder color.
      Possible bug?
    */
  color: var(--cs-input-color-label);
  margin-inline-start: var(--cs-space-xxs);
}

sl-select::part(tag) {
  background-color: var(--cs-tag-color-background-neutral);
  color: var(--cs-tag-color-foreground-neutral);
}

sl-select::part(tag__base) {
  border: 0;
  padding-inline: var(--cs-space-xs);
}

sl-select::part(tag__remove-button__base) {
  margin-left: var(--cs-space-xs);
}

sl-select::part(tag__content) {
  padding: var(--cs-space-m);
}