name: Sample CI
on: [ push, pull_request ]

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        path:
          - shared/mitre-vue
          - ui/extensions/remediations
          - ui/pages/chart-vue
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Enable Corepack
        run: corepack enable
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: Use Node 22
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f  # v6.1.0
        with:
          node-version: 22
          cache: 'yarn'
      - name: Run yarn install in ${{ matrix.path }}
        run: yarn install
        working-directory: ${{ matrix.path }}
      - name: Build Vue app in ${{ matrix.path }}
        if: matrix.path != 'shared/mitre-vue'
        run: yarn build
        working-directory: ${{ matrix.path }}
      - name: Test the Vue app in ${{ matrix.path }}
        run: yarn test:unit
        working-directory: ${{ matrix.path }}
