name: Rebuild sample
on:
  schedule:
    - cron: 0 0 * * 2
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: write # for peter-evans/create-pull-request to create branch
      pull-requests: write # for peter-evans/create-pull-request to create a PR
    name: Rebuild
    if: github.repository == 'CrowdStrike/foundry-sample-mitre'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238  # v6.2.0
        with:
          node-version: 22
          cache: 'yarn'
      - name: Run yarn install
        uses: borales/actions-yarn@2a18ac083c150a32c8ae27a3d68fc8f77b2ad4be  # v5
        with:
          cmd: install
      - name: Build Vue apps
        uses: borales/actions-yarn@2a18ac083c150a32c8ae27a3d68fc8f77b2ad4be  # v5
        with:
          cmd: build
      - name: Create commit
        run: |
          git add .
          git commit -a -m "Rebuild with latest dependencies" || true
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725  # v8.0.0
        with:
          token: ${{ secrets.PAT_TOKEN }}
          commit-message: 'Rebuild with latest dependencies'
          title: 'Rebuild with latest dependencies'
          body: Weekly build with latest dependencies.
          labels: 'dependencies'
