name: Rebuild sample
on:
  schedule:
    - cron: 0 0 * * 2
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: write # for peter-evans/create-pull-request to create branch
      pull-requests: write # for peter-evans/create-pull-request to create a PR
    name: Rebuild
    if: github.repository == 'CrowdStrike/foundry-sample-mitre'
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903  # v6.0.0
        with:
          node-version: 22
          cache: 'yarn'
      - name: Run yarn install
        uses: borales/actions-yarn@2a18ac083c150a32c8ae27a3d68fc8f77b2ad4be  # v5
        with:
          cmd: install
      - name: Build Vue apps
        uses: borales/actions-yarn@2a18ac083c150a32c8ae27a3d68fc8f77b2ad4be  # v5
        with:
          cmd: build
      - name: Create commit
        run: |
          git add .
          git commit -a -m "Rebuild with latest dependencies" || true
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412  # v7.0.9
        with:
          token: ${{ secrets.PAT_TOKEN }}
          commit-message: 'Rebuild with latest dependencies'
          title: 'Rebuild with latest dependencies'
          body: Weekly build with latest dependencies.
          labels: 'dependencies'
