name: Rebuild sample
on:
  schedule:
    - cron: 0 0 * * 2
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: write # for peter-evans/create-pull-request to create branch
      pull-requests: write # for peter-evans/create-pull-request to create a PR
    name: Rebuild
    if: github.repository == 'CrowdStrike/foundry-sample-mitre'
    runs-on: ubuntu-latest
    steps:
      - name: Enable Corepack
        run: corepack enable
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f  # v6.1.0
        with:
          node-version: 22
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install
      - name: Build Vue apps
        run: yarn build
      - name: Create commit
        run: |
          git add .
          git commit -a -m "Rebuild with latest dependencies" || true
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676  # v7.0.11
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'Rebuild with latest dependencies'
          title: 'Rebuild with latest dependencies'
          body: Weekly build with latest dependencies.
          labels: 'dependencies'
